
<%# views/index.ejs %>

<% extend('layout') %>
<style>

    .jumbotron {
        margin-top: 20px;
        background-image: url('/awards/35945207-tech-wallpaper.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        height: 100%;
        width: 100%;
    }

    /* Create three equal columns that floats next to each other */
    .column {
        border-radius: 25px;
        float: left;
        width: 50%;
        padding: 10px;
        border: 10px solid white;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

</style>

<div align = "center">
    <div class="jumbotron">
        <div class="padding">
            <h1 align="right" style="color: white">Software Engineer</h1>
            <p align="right" style="color: white" class="lead">
                “Life doesn't have a ctrl-z. Type wisely.”
            </p>
            <p align="right" style="color: white" class="lead">
                ― Imtiaz Iqbal
            </p>
        </div>
    </div>
</div>

<div>
    <div align="center">
        <h3>My GitHub Activity</h3>
    </div>
    <div align="center" class="row">
        <div class="column" style="background-color:lightblue;">
            <h2>Account</h2>
            <div align="center" class="github-card" data-user="atr2600"></div>
            <script src="http://lab.lepture.com/github-cards/widget.js"></script>
        </div>
        <div class="column" style="background-color:cornflowerblue;">
            <h2>Repositories</h2>
            <div align="center" class="github-card" data-github="atr2600/myWebApp"></div>
            <script src="http://lab.lepture.com/github-cards/widget.js"></script>
        </div>
    </div>
</div>