<%# views/layout.ejs %>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-----  This is for the contact form     ----->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->


</head>

<style>

    .navbar {
        background-color: #2962ff !important;
        color: white !important;
    }

    .navbar-inverse .navbar-nav > li > a {
        color : white;
    }

    .navbar-inverse #nav > .active > a {
        background-color: red;
    }


    .navbar-brand {
        color: white !important;
    }

</style>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="home">Brandon Geraci</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active" id="tabHome"><a href="home">Home</a></li>
            <li id="tabProjects"><a href="projects">Projects</a></li>
            <li id="tabExperience"><a href="experience">Experience</a></li>
            <li id="tabContact"><a href="contact">Contact</a></li>
        </ul>
    </div>
</nav>




<div class="container body-content">
    <%- content %>
    <hr />
    <footer>
        <p id = "footer">&copy;</p>
    </footer>
</div>

<script>
        var d= new Date();
        var n = d.getFullYear();
        document.getElementById("footer").innerHTML += " ";
        document.getElementById("footer").innerHTML += n;
        document.getElementById("footer").innerHTML += " - Brandon Geraci";

</script>

</body>
</html>