
<%# views/problemSolver.ejs %>

<% extend('layout') %>

<h1>Projects I have been in...</h1>
<div>
    <div>
        <h2>Fall 2017</h2>
        <h3>Problem Solver</h3>
    </div>
</div>


<script>
    document.getElementById("tabHome").removeAttribute("class");
    document.getElementById("tabProblemSolver").setAttribute("class","active");

</script>