
<%# views/projects.ejs %>

<% extend('layout') %>

<h1>Projects I have been in...</h1>


<script>
        document.getElementById("tabHome").removeAttribute("class");
        document.getElementById("tabProjects").setAttribute("class","active");

</script>