
<%# views/umdalive.ejs %>

<% extend('layout') %>

<h1>Projects.</h1>
<div>
    <div>
        <h2>Spring 2018</h2>
        <h3>UMD ALIVE</h3>
    </div>
</div>


<script>
    document.getElementById("tabHome").removeAttribute("class");
    document.getElementById("tabUmdalive").setAttribute("class","active");

</script>